<section class="content-wrapper">
  <table class="ordersTable">
    <thead>
      <tr>
        <th><abbr title="Orden">Ord.</abbr></th>
        <th>Fecha</th>
        <th>Plato</th>
        <th><abbr title="Unidades">Uds.</abbr></th>
        <th><abbr title="Entrega">Ent.</abbr></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="stock"><%= order.name %></td>
          <td class="stock"><%= order.created_at.to_datetime.strftime("%d/%m/%y") %> <br><%= order.created_at.to_datetime.to_datetime.strftime("%H:%M") %></td>
          <td class="title"><%= order.line_items[0].name %></td>
          <td class="stock"><%= order.line_items[0].quantity %></td>
          <td class="delivery">30-40 min</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>


<!-- <p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Customer</th>
      <th>Contact Email</th>
      <th>Total Price</th>
      <th>Phone</th>
      <th>Products</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at.to_time.strftime("%d %b %Y at %I:%M %p") %></td>
        <td><%= order.customer.first_name rescue nil %> <%= order.customer.last_name rescue nil %></td>
        <td><%= order.contact_email %></td>
        <td><%= order.total_price %> <%= order.currency %></td>
        <td><%= order.customer.phone rescue nil %></td>
       <td><%= order.line_items.map(&:title).join(", ") %><td>
      </tr>
    <% end %>
  </tbody>
</table> -->

