<div class="panel panel-default">
  <div class="panel-body panel-content">
    <div class="row">
      <%= link_to 'Crear nueva colección', new_admin_collection_path, class: "adminButton" %>
      <br>
      <br>
      <table class="table adminColecctionsTable">
        <thead>
          <tr>
            <th>Colección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each do |collection| %>
            <tr>
              <td><%= collection.title %></td>
              <td class="a_actions">
                <%= link_to "Ver", admin_collection_path(collection.id) %> |
                <%= link_to "Editar", edit_admin_collection_path(collection.id) %> |
                <%= link_to 'Eliminar', admin_collection_path(collection.id), method: :delete, data: { confirm: '¿Estás seguro?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
