<div class="panel panel-default">
  <div class="panel-body panel-content">
    <label for="title">Resetear el stock de todos los platos:</label>
    <%= link_to 'Reset', reset_stock_admin_settings_path, class: "adminButton", method: :post %>
    <hr>
		<%= form_with(model:[:admin, @setting], local:true) do |form| %>
			<input type="hidden" name="authenticity_token" value="">
		  <div class="form-group">
		  	<%= form.label :delivery_price, "Precio del envío:" %>
		  	<%= form.number_field :delivery_price, class: "form-control", placeholder: "Ej. 2,50" %>
		  </div>
		  <%= form.submit "Guardar precio", class: "adminButton" %>
		<% end %>
		<br><br>
		<%= link_to 'Volver atrás', admin_collections_path, class: "adminBack" %>
  </div>
</div>

