<div class="panel panel-default">
  <div class="panel-body panel-content">
    <div class="row">
      <table class="table adminProductsTable">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Plato</th>
            <th>La Casa de</th>
            <th>Uds.</th>
            <th>Estado</th>
            <th>Aprobar</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="<% if product.is_pending? %>pendingRow<% end %>">
              <td class="a_image"><%= image_tag product.image_base64 if product.image_base64.present? %></td>
              <td><%= product.name %></td>
              <td><%= product.user.vendor.gsub("La Casa de", "") if product.user.present? && product.user.vendor.present? %></td>
              <td class="a_stock"><%= product.available_quantity %></td>
              <td class="a_status"><%= product.status_name_spanish_abbr_title %></td>
              <td class="a_approve">
                <%= link_to "Aprobar plato", approve_admin_product_path(product.id), method: :put, data: { confirm: '¿Quieres aprobar el plato?' } if product.is_pending? %>
              </td>
              <td class="a_actions">
                <%= link_to "Ver", admin_product_path(product.id) %> |
                <%= link_to "Editar", edit_admin_product_path(product.id) %> |
                <%= link_to 'Eliminar', admin_product_path(product.id), method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el plato?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
