<div class="panel panel-default">
  <div class="panel-body panel-content">
    <div class="row">
      <table class="table adminSingleTable">
        <thead>
          <tr>
            <th colspan="2"><%= @product.name %></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Id</td>
              <td><%= @product.id %></td>
            </tr>
            <tr>
              <td>Estado</td>
              <td><%= @product.status_name_spanish_abbr_title %></td>
            </tr>
            <tr>
              <td>Descripción</td>
              <td><%= @product.description %></td>
            </tr>
            
            <tr>
              <td>Ingredientes</td>
              <td><%= @product.ingredients %></td>
            </tr>
            
            <tr>
              <td>Tipo de cocina</td>
              <td><%= @product.collection_names %></td>
            </tr>
            
            <tr>
              <td>Unidades</td>
              <td><%= @product.available_quantity %></td>
            </tr>
            
            <tr>
              <td>Peso</td>
              <td><%= @product.weight %> gr</td>
            </tr>
            
            <tr>
              <td>Precio</td>
              <td><%= @product.price %> €</td>
            </tr>
            
            <tr>
              <td>Días cocinado</td>
              <td><%= @product.delivery_days %></td>
            </tr>
            <tr>
              <td>Horario cocinado</td>
              <td><%= @product.delivery_hours %></td>
            </tr>
            
            <tr>
              <td>Imagen</td>
              <td class="p_image">
                <%= image_tag @product.image_base64 if @product.image_base64.present? %>
              </td>
            </tr>
        </tbody>
      </table>
      <br><br>
      <%= link_to '« Volver atrás', admin_products_path, class: "adminBack" %>
    </div>
  </div>
</div>
